<div class="quiz-container">
    <button class="back-button" (click)="backPage()">Back</button>
    <h1 class="category-title">CATEGORY: </h1>
    <h2 class="question-title">Question #1</h2>
    <p class="question-text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor, incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud?
    </p>
    <div class="answer-options">
      <button class="answer-button">"Lorem ipsum dolor sit amet"</button>
      <button class="answer-button">"Lorem ipsum dolor sit amet"</button>
      <button class="answer-button">"Lorem ipsum dolor sit amet"</button>
      <button class="answer-button">"Lorem ipsum dolor sit amet"</button>
    </div>
  </div>
  