<div class="how-to-play-container">
    <button class="back-button" (click)="closePage()">Back</button>
    <h1 class="title">How to Play?</h1>
    <div class="steps">
      <div class="step step-1">
        <h2>STEP #1</h2>
        <p>Select a mode between Best Response Dynamics questions and Semantics flip cards.</p>
      </div>
      <div class="step step-2">
        <h2>STEP #2</h2>
        <p>If you selected Best Response Dynamics: Choose a level from Easy, Medium, and Hard.</p>
        <br>
        <br>
        <p>If you selected Semantics flip cards: You can start learning by hovering/clicking the cards.</p>
      </div>
      <div class="step step-3">
        <h2>STEP #3</h2>
        <p>If you selected Best Response Dynamics: Answer the questions by identifying what the best response is to that question.</p>
        <br>
        <br>
        <p>If you selected Semantics flip cards: Now you can read and be familiar with the Kapampangan words that you still don't know.</p>
      </div>
    </div>
    <button class="play-button"(click)="playPage()">Play</button>
  </div>
  