*{
    margin: 0%;
    padding: 0%;
    background: #FFE2AD;
    overflow: hidden;
}
  .background {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 1920px; /* Full viewport width */
    height: 500px; /* Full viewport height */
    background-image: url('images/bg1.png'); /* Correct path to image */
    background-size: cover;
    background-position: center;
    background-color: transparent;
    z-index: 0;
}